/*  */
.btn{

    &--bleugirondins{
        color:#06082c;
        background-color:#f8116a;
        &:hover{
            color:#f8116a;
            background-color:#06082c;
        }
    }
    &--rosegirondins{
        color:#f8116a;
        background-color:#06082c;
        &:hover{
            color:#06082c;
            background-color:#f8116a;
        }
    }
    
}

#sidebarBtn {
    padding: 1em 2em;
    color: white;
    background-color: rgba(153, 13, 13, 0.856);
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: 0 1px 15.5px 5px #000000, inset 0 1px 13.5px -0.5px #000000;
    font-weight: 900;
    margin: 1rem 0;
    transition: all ease-in-out .04s;
    cursor: pointer;
}


#sidebarBtn:active {
    box-shadow: 0 0px 0px 0px #000000, inset 0 1px 13.5px -0.5px #000000;
}